@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-roboto: 'Roboto', sans-serif;
  --font-playfair: 'Playfair Display', serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

*{
  margin: 0;
  padding: 0;
}

.main-container{
  max-width: 90vw;
}


.material-bubble {
  color: #ffffff; /* White text color */
  /* border: none; */
  overflow: hidden;
  box-shadow: none;
  position: relative; /* Required for pseudo-elements */
  padding: 10px 20px;
  /* border-radius: 5px; */
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s; /* Transition only the background color */
}

.material-bubble:hover {
  background-color: #0a326e; /* Darker blue on hover */
  color: #f0f0f0; /* Optional: Adjusted lighter text color on hover */
}

.material-bubble::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: border-color 0.3s;
}

.material-bubble:hover::before {
  border-color: #0a326e;
}

.material-bubble::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  height: 200px;
  background-color: #0b3d91; /* Default blue for the ripple effect */
  border-radius: 50%;
  transform: translate(-10px, -70px) scale(0.1);
  opacity: 0;
  z-index: -1;
  transition: transform 0.3s;
}

.material-bubble:hover::after {
  transform-origin: 100px 100px;
  transform: scale(1) translate(-10px, -70px);
  background-color: #0a326e; /* Darker blue ripple on hover */
}



.heading{
  line-height: 4rem;
}

.sub-heading{
  line-height: 2rem;
  font-size: 40px;
  font-weight: 600;
}